<div class="jumbotron">
  <div class="header">
    <h1 class="display-3">Welcome to Dog Meetups!</h1>
    <p class="lead hero-header">Cat ipsum dolor sit amet, love to play with owner's hair tie. Hate dog lay on arms while you're using the keyboard pooping rainbow while flying in a toasted bread costume in space. Cat snacks stare out the window, and chase the pig around the house chase the pig around the house missing until dinner time, yet pee in the shoe for ears back wide eyed. Chase the pig around the house. </p>
    <% if current_user %>
    <% else %>
      <div class="call_to_action"> To get started <%= link_to "Sign Up Now!", signup_path, class: 'btn btn-primary'%></div>
    <% end %>
  </div>
</div>
<div class="container">
      <div class="col-md-8 col-md-offset-2"> <!-- outside column -->
        <h1><center>Upcoming Meetups</center></h1>
<% @meetups.each do |meetup| %>
<div class="meetup">
  <div class="meetup_info">
    <% if current_user %>
    <h2><%= link_to meetup.name, meetup_path(meetup) %></h2>
    <% else %>
    <h2><%= meetup.name %></h2>
    <% end %>
    <strong>When:</strong> <%= meetup.meetup_date.strftime("%B %e, %Y") %><br>
    <strong>Where:</strong> <%= meetup.location %>
  </div>
  <h3>Come play with us!</h3>
    <% if current_user %>
    <% meetup.dogs.first(10).each do |d| %>
    <% if d.image.blank? %>
      <%= link_to image_tag("dog_avatar.jpg", :width => 150, :class => 'img-circle dog_pic'), dog_path(d) %>
    <% else %>
      <%= link_to image_tag(d.image, :width => 150, :class => 'img-circle dog_pic'), dog_path(d) %>
<% end %>
<% end %>


    <% else %>
    <% meetup.dogs.first(10).each do |d| %>
    <% if d.image.blank? %>
      <%= image_tag("dog_avatar.jpg", :width => 150, :class => 'img-circle dog_pic') %>
    <% else %>
      <%= image_tag(d.image, :width => 150, :class => 'img-circle dog_pic') %>
    <% end %>
    <% end %>
    <% end %>
</div>
<% end %>


</div>
</div>
