<div class="container">
  <div class="col-md-8 col-md-offset-4">
 <h1><%= @meetup.name %></h1>
<p><strong>Where:</strong> <%= @meetup.location %><p>
 <p><strong>Address:</strong> <%= @meetup.address %></p>
<p><strong>When:</strong> <%= @meetup.meetup_date.strftime("%B %e, %Y") %></p>
<p><strong>Time:</strong> <%= @meetup.time.strftime('%I:%M %p') %></p>
<p><strong>Organized by:</strong> <%= @organizer.name %></p>
<p><strong>More Info:</strong></p>
<p><%= @meetup.description %></p>
<% if current_user && current_user == @organizer %>
  <div class="row">
    <div class="col-sm-6">
      <div class="pull-left">
    <%= button_to "Delete", @meetup, method: :delete, :class => 'btn btn-warning' %>
  </div>
</div>
<div class="col-sm-6">
<div class="pull-left">
    <%= button_to "Edit", edit_meetup_path(@meetup), method: 'get', :class => 'btn btn-warning' %>
  </div>
</div>
</div>
<% end %>

<h2>Come play with us!</h2>
  <% @meetup_dogs.each do |d| %>
    <strong>name:</strong> <%= link_to d.name, dog_path(d) %><br>
    <% if d.image.blank? %>
      <%= link_to image_tag("dog_avatar.jpg", :width => 150, :class => 'img-circle'), dog_path(d) %>
    <% else %>
      <%= link_to image_tag(d.image, :width => 150, :class => 'img-circle'), dog_path(d) %>
    <% end %>
    <br>
    <% if current_user.dogs.include?(d)  %>
      <%= button_to "Delete", "/meetups/" + @meetup.id.to_s + "/dog/" + d.id.to_s , method: :patch %>
    <% end %>
  <% end %>

<h2>Add Dog</h2>
  <%= form_tag(meetup_path(@meetup), method: "put") do %>
    <% @dogs.each do |i| %>
        <% if @meetup_dogs.exclude?(i)  %>
          <%= check_box_tag 'dog_ids[]', i.id %>
          <span><%= label_tag(i.id, i.name.capitalize) %></span>
        <% end %>
      <% end %>
    <%= submit_tag "Add" %>
  <% end %>
</div>
</div>
