
    <strong>Name:</strong> <%= @meetup.name %><br>
    <strong>Location:</strong> <%= @meetup.location %><br>
    <strong>Address:</strong> <%= @meetup.address %><br>
    <strong>Meetup Date:</strong> <%= @meetup.meetup_date %><br>
    <strong>Time:</strong> <%= @meetup.time %><br>
    <strong>Organized by:</strong> <%= @organizer.name %> <br>
    <strong>Description:</strong> <%= @meetup.description %>
    <%= button_to "Delete", @meetup, method: :delete %>
    <%= button_to "Edit", edit_meetup_path(@meetup), method: 'get' %>

<h2>Add Dog</h2>
    <% @dogs.each do |dog| %>
      <p>
        <strong>name:</strong> <%= dog.name %><br>
    <% end %>
    
<h2>Dogs belongs to meetup</h2>
    <% @meetup_dogs.each do |d| %>
      <p>
        <strong>name:</strong> <%= d.name %><br>
    <% end %>
