<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="meetup_details">
 <center><h1><%= @meetup.name %></h1></center>
   <div class="meetup_inner">
 <ul>
  <li><strong>Where:</strong> <%= @meetup.location %></li>
  <li><strong>Address:</strong> <%= @meetup.address %></li>
  <li><strong>When:</strong> <%= @meetup.meetup_date.strftime("%B %e, %Y") %></li>
  <li><strong>Time:</strong> <%= @meetup.time.strftime('%I:%M %p') %></li>
  <li><strong>Organized by:</strong> <%= @organizer.name %></li>
</ul>
</div>
<p><%= @meetup.description %></p>
<% if current_user && current_user == @organizer %>
  <div class="row">
    <div class="col-sm-6">
      <div class="pull-left">
    <%= link_to "", edit_meetup_path(@meetup), method: 'get', class: 'fa fa-pencil fa-2x' %>
  </div>
</div>
<div class="col-sm-6">
<div class="pull-left">
  <%= link_to "", @meetup, method: :delete, :class => 'fa fa-trash fa-2x' %>
  </div>
</div>
</div>
<% end %>
</div>
<div class="dog_details">
<center><h2>Come play with us!</h2></center>
  <% @meetup_dogs.each do |d| %>
    <strong>name:</strong> <%= link_to d.name, dog_path(d) %><br>
    <% if d.image.blank? %>
      <%= link_to image_tag("dog_avatar.jpg", :width => 150, :class => 'img-circle'), dog_path(d) %>
    <% else %>
      <%= link_to image_tag(d.image, :width => 150, :class => 'img-circle'), dog_path(d) %>
    <% end %>
    <br>
    <% if current_user.dogs.include?(d)  %>
      <%= button_to "Delete", "/meetups/" + @meetup.id.to_s + "/dog/" + d.id.to_s , method: :patch %>
    <% end %>
  <% end %>

  <%= form_tag(meetup_path(@meetup), method: "put") do %>
    <% @dogs.each do |i| %>
        <% if @meetup_dogs.exclude?(i)  %>
          <%= check_box_tag 'dog_ids[]', i.id %>
          <span><%= label_tag(i.id, i.name.capitalize) %></span>
        <% end %>
      <% end %>
    <%= button_tag(type: "submit", class: "btn btn-primary") do %>
    Join!
    <% end %>
  <% end %>
</div>
</div>
</div>
