
    <strong>Name:</strong> <%= @dog.name %><br>
    <% if @dog.image.blank? %>
    <%= image_tag "dog_avatar.jpg", :width => 250 %>
  <% else %>
    <%= image_tag @dog.image, :width => 250, :class => "img-circle" %>
  <% end %>
    <strong>Age:</strong> <%= @dog.age %><br>
    <strong>Size:</strong> <%= @dog.size %><br>
    <strong>Breed:</strong> <%= @dog.breed %> <br>
    <strong>Bio:</strong> <%= @dog.bio %><br>

    <% @dog_meetups.each do |meetup| %>
        <h2><%= link_to "#{meetup.name} - #{meetup.meetup_date.strftime("%B %e, %Y")}", meetup_path(meetup) %></h2>
    <% end %>
