<div class="container">
  <center><h1>Edit Profile</h1></center>
  <%= form_for @user do |f| %>
  <div class="well col-md-2 col-md-offset-5">

    <div class="form-group">
      <%= f.label :name, "Name"%>
      <%= f.text_field :name, class: "form-control", autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.label :email, "Email" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <div>
      <center><%= f.submit "Save", class: "btn btn-primary" %></center>
    </div>
    <% end %>
  </div>
</div>
