<div class='container'>
  <h1><center>Sign Up</center></h1>

  <%= form_for :user, url: '/users' do |f| %>
  <div class="well col-md-4 col-md-offset-4">
    <div class="form-group">
      Name: <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      Email: <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      Password: <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      Password Confirmation: <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <div>
      <%= f.submit "Submit", class: 'btn btn-info' %>
    </div>

    <% end %>
  <em>*To log in as a Demo user, please click <%= link_to "here", login_path %>. </em>
  </div>
</div>
