<h1>User Profile</h1>
<h3>Name: <%= @user.name %></h3>

  <div>
    <%= button_to "Edit Profile", edit_user_path(@user), method: 'get', class: 'btn btn-warning' %>
  </div>

<h2>Organized Meetups</h2>

<% @meetups.each do |meetup| %>
    <h2><%= link_to "#{meetup.name} - #{meetup.meetup_date.strftime("%B %e, %Y")}", meetup_path(meetup) %></h2>
      <%= link_to "", edit_meetup_path(meetup), class: 'glyphicon glyphicon-pencil' %>
<% end %>

<%= button_to "Add Meetup", new_user_meetup_path(@user, @meetup), method: 'get', class: 'btn btn-warning' %>

<h2>Dogs</h2>
<% @dogs.each do |dog| %>
    <h2><%= link_to dog.name, dog_path(dog) %></h2>
      <%= button_to "Edit Dog", edit_dog_path(dog), method: 'get', class: 'btn btn-warning' %>
<% end %>
<%= button_to "Add Dog", new_user_dog_path(@user, @dog), method: 'get', class: 'btn btn-warning' %>
