<!DOCTYPE html>
<html>
<head>
  <title>DogmeetApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="col-sm-6">
  <div class="pull-right">
    <% if current_user %>
      <%= link_to current_user.name.capitalize + "'s Profile", user_path(current_user), class:'font_style' %> | <%= link_to "Log Out", logout_path, class:'font_style' %>
    <% else %>
      <%= link_to "Sign Up", signup_path, class:'font_style' %> | <%= link_to "Log In", login_path, class:'font_style' %></li>
    <% end %>
  </div>
</div>
<br>

<%= yield %>

</body>
</html>
