<!DOCTYPE html>
<html>
<head>
  <title>DogmeetApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.fontawesome.com/471f174839.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script>
 UPLOADCARE_LOCALE = "en";
 UPLOADCARE_TABS = "file url facebook gdrive dropbox instagram evernote flickr skydrive";
 UPLOADCARE_PUBLIC_KEY = "60ae0c28f42e065b1f3a";
</script>

<script charset="utf-8" src="//ucarecdn.com/widget/2.5.5/uploadcare/uploadcare.full.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="row">
    <div class="col-sm-6">
      <div class="pull-left">
      <%= link_to "Home", root_path %>
    </div>
    </div>

  <div class="col-sm-6">
  <div class="pull-right">
    <% if current_user %>
      <%= link_to current_user.name.capitalize + "'s Profile", user_path(current_user), class:'font_style' %> | <%= link_to "Log Out", logout_path, class:'font_style' %>
    <% else %>
      <%= link_to "Sign Up", signup_path, class:'font_style' %> | <%= link_to "Log In", login_path, class:'font_style' %></li>
    <% end %>
  </div>
</div>
</div>
<%= yield %>
</body>
</html>
